.AddArticleCommentBackground {
    background-color: #FAFAFA;
    border-radius: 15px;
    padding: 10px 3%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width: 95%;
}

.articleComment_inputField_AddArticleComment {
    margin-left: 2%;
    font-size: 16px;
    border: none;
    background-color: #FAFAFA;
}

.userPhoto_AddArticleComment {
    width: 43px;
    height:43px;
    background-image: url("../images/userPhoto.jpg");
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    pointer-events: none;
}

.hrLine-article {
    border: 1px solid rgba(0,0,0, 0.05);
    width: 100%;

}