.articleComment_inputField {
    width: 70%;
    height: 40px;
    font-size: 16px;
    margin: 0% 2.5% 3% 2.5%;
    border: none;
    display: inline;
}

.articleComment_submit {
    font-size: 15px;
    margin: 3% 5% 3% 2.5%;
    display: inline;
    border-radius: 20px;
    border: none;
    background-color: #294F5A;
    color: white;
    font-weight: 200;
    float: right;
}

.articleCommentBox1 {
    display: flex;
}

.articleCommentBox2 {
    margin: 5px 5px 5px 0;
}

.articleCommentCommenterID {
    font-weight: bold;
    font-size: 150%;
    pointer-events: none;
}

.articleCommentComment {
    margin: 10px 0;
    width: 65vw;
    word-break: break-all;
}

.articleCommentLike {
    margin-bottom: -8px;
}

.articleCommentLike > span > span {
    position: relative;
    left: 5px;
}

.articleCommentCommentUpdate {
    font-size: 100%;
    padding: 3px 7px;
    border-radius: 15px;
    border: 1px solid #818181;
    width: 90%;
}