.articleCard {
    /*margin: 18% 3%;*/
    margin: 8% 3%;
    border-radius: 33px;
    /*box-shadow: 5px 5px 20px 5px rgba(0,0,0,0.1);*/
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.1);
    background-color: white;
    padding: 24px 14px;
    padding-bottom: 10px;
    overflow: hidden;
}

.articleImage {
    /*margin: -9% -6%;*/
    /*background-image: url("../images/annihilation.jpg");*/
    /*background-size: cover;*/
    /*padding: 9% 6%;*/
    /*height: 90vw;*/
    border-bottom: #D3D3D3 1px solid;
}

.articleCategory {
    display: block;
    font-size: 120%;
    font-weight: 300;
    /*color: white;*/
    /*position: relative;*/
    /*top: 76%;*/
}

.articleTitle {
    display: block;
    font-size: 280%;
    /*color: white;*/
    /*position: relative;*/
    /*top: 76%;*/
}

.userPhoto {
    height: 60px;
    width: 60px;
    background-image: url("../images/userPhoto.jpg");
    background-size: cover;
    border-radius: 100%;
    display: inline-block;
    pointer-events: none;
}

.articleAuthor {
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
    pointer-events: none;
}

.articleDateAndPosition {
    opacity: 0.3;
    font-size: 80%;
}

.articleContent {
    display: block;
    font-weight: 300;
}

.numOfArticleComment {
    margin: 0% 10% 0% 2%;
    position: relative;
    top: -6px;
}

.newArticleButton {
    transform: translate(-50%, 0%);
    position: fixed;
    left: 50%;
    bottom: 2%;
    border-radius: 100%;
    background-color: #294F5A;
    /*opacity: 0.9;*/
    opacity: 0.6;
    width:  17vw;
    height: 17vw;
    background-image: url("../images/cross.png");
    background-size: cover;
}

.newArticle {
    transform: translate(-50%, 0%);
    position: fixed;
    left: 50%;
    bottom: 2%;
    font-size: 500%;
    color: white;
}

.articleBackground {
    /*font-family: 微軟正黑體;*/
    /*position: absolute;*/
    /*!*top: 0;*!*/
    /*width: 100%;*/
    /*background-image: url("../images/signUpLoginBackground.png");*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: fixed;*/
    /*border: none;*/

    font-family: 微軟正黑體;
    position: fixed;
    top: 0;
    width: 100vw;
    background-image: url("../images/signUpLoginBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*background-attachment: fixed;*/
    border: none;

    height: 100vh;
}

.updateDeleteSubmit {
    font-size: 15px;
    margin: 3% 1%;
    border-radius: 20px;
    border: none;
    background-color: #294F5A;
    color: white;
    font-weight: 200;
}

.invisible {
    display: none;
}

.articleComment {
    width: 30px;
    height: 30px;
    background-image: url("../images/comment.png");
    background-size: cover;
}

.articleDislike {
    /*width: 30px;*/
    /*height: 30px;*/
    width: 100px;
    height: 100px;
    background-image: url("../images/dislike.svg");
    background-size: cover;
    /*margin: 1% 1%;*/
    /*display: inline;*/
}

.numOfArticleLike {
    margin-left: 2%;
    position: relative;
    top: -6px;
}

.articleLike {
    background-image: url("../images/like.svg");
}

.aaa {
    /*margin-top: 14%;*/
    margin-top: 7%;
    display: flex;
    align-items: center;
}
.aaa > div {
    margin-right: 4%;
}
.bbb {
    position: absolute;
    right: 1%;
}
.ccc {

}
.eee {
    /*position: absolute;*/
    /*right: 1%;*/
    /*display: inline;*/
    float: right;
    position: relative;
    right: 1%;
    top: -30px;
}
.ddd {
    /*position: relative;*/
    /*top: 100px;*/
}
.buttonNoneStyle {
    background-color: rgba(0,0,0,0);
    border: none;
}

.false {
    display: none;
}