html, body {
    /*border: solid 1px;*/
    font-family: 微軟正黑體;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

div, form {
    position: relative;
}

*:focus {
    outline: none;
}

.flex {
    display: flex;
    align-items: center;
}

.justify-content {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-flex-start {
     justify-content: flex-start;
 }

.justify-content-flex-end {
    justify-content: flex-end;
}

/*articleWhoLikes 有用到*/
.flex > * {
    margin-right: 10px;
    margin-bottom: 10px;
}

.opacity-zero {
    opacity: 0;
}

.articleCardShadow {
    z-index: 10;
    /*border: 1px solid red;*/
    border-radius: 33px;
    position: absolute;
    top: 0;
    margin: 8% 3%;
    box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.1);
    /*padding: 24px 14px;*/
    /*padding-bottom: 24px;*/
    max-width: 600px;
    height: 355px;
    width: 94%;
    pointer-events: none;
}

/*https://abgne.tw/css/apply-css3/css3-circle-rotate-loading-spinner.html*/
.loadingGif {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;

    border-top: 4px solid rgba(0,0,0,0.2);
    border-right: rgba(0,0,0,0);
    border-bottom: rgba(0,0,0,0);
    border-left: rgba(0,0,0,0);
    height: 60px;
    width: 60px;
    border-radius: 50%;

    -webkit-animation: loading 1s infinite linear;
    -moz-animation: loading 1s infinite linear;
    -o-animation: loading 1s infinite linear;
    animation: loading 1s infinite linear;
}
@-webkit-keyframes loading {
    from {
        -webkit-transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-moz-keyframes loading {
    from {
        -moz-transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -moz-transform: translate(-50%, -50%) rotate(360deg);
    }
}
@-o-keyframes loading {
    from {
        -o-transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        -o-transform: translate(-50%, -50%) rotate(360deg);
    }
}
@keyframes loading {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*臨時亂做的圖便上傳*/
.mediaLink {
    width: 30%;
}

.nonfunctionalOpacity {
    opacity: 0.2;
}

.test {
    /*border: 1px solid red;*/
    /*width: 94vw;*/
    /*height: 100px;*/
    /*padding: 24px 14px;*/
    margin: -24px -14px auto -14px;
    border-top-left-radius: 33px;
    border-top-right-radius: 33px;
    /*border-radius: 33px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    overflow: hidden;

    /*margin: 8% 3%;*/
    /*box-shadow: 0px 0px 20px 7px rgba(0,0,0,0.1);*/
    /*max-width: 600px;*/
    /*height: 355px;*/
    /*width: 94%;*/
    /*pointer-events: none;*/
}
.test2 {
    width: 100%;
}